# This workflow builds the Java/Android project with Gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build Desktop
      run: ./gradlew desktop:build

    - name: Build Android
      run: ./gradlew android:assembleDebug

    - name: Upload Android APK
      uses: actions/upload-artifact@v4
      with:
        name: android-debug-apk
        path: android/build/outputs/apk/debug/android-debug.apk
